@page "/concerts"
@inject IHttpClientFactory httpClientFactory
@inject ILogger<Concerts> Logger
@rendermode InteractiveServer

<h3>Concerts</h3>
<p>@RendererInfo.Name</p>

<EditForm Model="artistName" OnSubmit="LoadConcerts" FormName="SearchArtists" >

<input name="artistSearchInput" @bind="artistName" placeholder="Search artist..." />
<button type="submit">Search</button>

@if (concerts == null)
{
    <p><em>Loading...</em></p>
}
else if (!concerts.Any())
{
    <p>No concerts found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Date</th>
                <th>Venue</th>
                <th>City</th>
                <th>Country</th>
                <th>Ticket</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var concert in concerts)
            {
                <tr>
                    <td>@concert.Artists.select(a => a.Name).join(", ")</td>
                    <td>@concert.Date.ToString("g")</td>
                    <td>@concert.VenueName</td>
                    <td>@concert.City</td>
                    <td>@concert.Country</td>
                    <td><a href="@concert.TicketUrl" target="_blank">Buy</a></td>
                </tr>
            }
        </tbody>
    </table>
}
</EditForm>

@code {
    private string artistName = "Coldplay";
    private List<Concert>? concerts;

    private async Task LoadConcerts()
    {
        concerts = null;

        var httpClient = httpClientFactory.CreateClient("ConcertTrackerApi");
        concerts = await httpClient.GetFromJsonAsync<List<Concert>>($"api/concerts/{Uri.EscapeDataString(artistName)}");
        // var result = await httpClient.GetStringAsync($"api/concerts/{Uri.EscapeDataString(artistName)}");
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadConcerts();
    }
}
